<div class="view-container">
    <h1 class="game-header">UNO</h1>
    <div [style.margin]="'auto'" class="card gt-card">
      <div class="card-body">
        <h2 class="section-header">
          Lobby ({{ players.length }} Player{{ players.length === 1 ? '' : 's' }})
        </h2>
        <hr>
        <div class="lobby-players">
          <div *ngFor="let player of players">
            <span>{{ player.displayName }}</span>
            <span *ngIf="partyLeader?.playerId === player.playerId"> (Leader)</span>
            <span *ngIf="currentPlayer?.playerId === player.playerId"> (You)</span>
            <span>{{ player.isReady ? 'Ready' : 'Not Ready' }}</span>
          </div>
        </div>
        <hr>
        <div *ngIf="currentPlayer?.displayName === 'Player 1'">
          <button [disabled]="!buttonActivated" class="btn gt-btn-red menu-button" (click)="startGame()">
            Start Game
          </button>
        </div>
        <div *ngIf="currentPlayer?.displayName !== 'Player 1'">
          <button class="btn gt-btn-red menu-button" (click)="toggleReady()">
            I'm Ready!
          </button>
        </div>
        <div>
          <p>Current Player: {{ currentPlayer?.displayName }}</p>
          <p>Party Leader: {{ partyLeader?.displayName }}</p>
        </div>
      </div>
    </div>
  </div>
  